@model IEnumerable<Dish>

@{
    ViewData["Title"] = "Meny";
}

<div class="row">


    <h2>Meny</h2>
    <hr />

    <div id="cartContainer" class="hideDiv">
        <div class="col-12" id="cartDiv">
        </div>
    </div>


    <div id="productsContatainer" class="col-lg-12">
        <h2>Meny</h2>

        @foreach (Dish d in Model)
        {
            @Html.Partial("ProductSummary", d)
        }
    </div>

</div>



@section CSS
    {
    <link href="~/css/Cart/Index.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts
    {
    <script src="~/js/Product/List.js"></script>
}
