
@{
    ViewData["Title"] = "Nekad åtkomst";
}

<div class="bg-danger mb-1 p-2 text-white"><h4>Nekad åtkomst</h4></div>
@*<a href="@ViewBag.ReturnUrl" class="btn btn-primary">OK</a>*@
<a asp-controller="home" asp-action="index" class="btn btn-primary">OK</a>


