@model DishModificationModel

@{
    ViewData["Title"] = "Redigera maträtt";
}

<h2>Redigera maträtt</h2>

<form asp-action="EditDish" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SelectedCategoryId" class="control-label"></label>
        <select asp-for="SelectedCategoryId" asp-items="@Model.Categories" class="form-control"></select>
        <span asp-validation-for="SelectedCategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SelectedProductIds"></label>
        <select id="SelectedProductIds" class="form-control" name="SelectedProductIds" multiple="multiple" asp-items=@Model.Products></select>
        <span asp-validation-for="SelectedProductIds" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Spara" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}